<!-- Titre page -->
<div class="page-header">
    <h3>Titre de la page</h3>
</div>
{{test}}
<div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Titre</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inputTitle" placeholder="Titre de la recette">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Temps de préparation</label>
            <div class="col-md-9">
                <input type="time" class="form-control" id="inputTime1">
            </div>
        </div>
    </form>
</div>
